
@font-face {
    font-family: 'Track';
    src: url('../fonts/Track.otf') format('opentype');
}

body {
    font-family: 'Arial'
}

h1 {
    font-family: 'Track', 'Arial', 'Calibri';
}

.container {
    width: 65%;
}

#footer {
    font-family: 'Track', 'Arial', 'Calibri';
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}