
@font-face {
    font-family: 'Track';
    src: url('../fonts/Track.otf') format('opentype');
}

body {
    font-family: 'Arial';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Track', 'Arial', 'Calibri';
}

.container {
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
}

#footer {
    font-family: 'Track', 'Arial', 'Calibri';
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    bottom: 0px;
}

.content {
    width: 60%;
    float: left;
    margin-left: -1px;
}

#side {
    float: right;
    width: 30%;
    margin-right: -30px;
}

#map-canvas {
    width: 325px;
    height: 275px;
    margin: 0 auto;
}

.thumbs {
    text-align: center;
}
.thumbs img{
    width: 150px;
    border: solid 2px #33CCFF;
    margin-top: 25px;
}

#store {
    float: left;
    margin-left: 5px;
}
#winning {
    float: right;
    margin-right: 5px;
}

#login, #register {
    margin: 0 auto;
    width: 40%;
}

.form-label {
    margin-bottom: 10px;
    margin-top: 20px;
    display: inline-block;
    width: 140px;
}

.form {
    float: right;
    width: 100px;
}

.btn-form {
    float: left;
    font-family: 'Track', 'Arial', 'Calibri';
}

#rbnGender {
    float: left;
}
